*{
    margin:auto;
}
p{
    margin: 40px;
    border: 2px solid black;
    padding: 40px;
}

h1{
    background-color: rgb(228, 228, 181);
    text-align: center;
}
body{
    background-color:rgb(155, 75, 75);
    text-align: center;
}
#Misupertitulo{
    font-size: 60px;
    padding: 70px;
}
.imagenes{
    width: 500px;
    height: 400px;
    
}
a:hover{
    color: gray;
    font-size: 30px;
    font-style: italic
}
img:hover{
    width: 700px;
    height: 500px;
}
.imagenesIntro{
    width: 280px;
    display: block;
    margin-top: 50px;
}

.cuadro1{
    width: 200px;
    height: 20px ;
    border: black solid 2px;
    padding: 40px;
    background-color: rgba(214, 90, 90, 0.5);    
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 150px;
    right: 120px;
    overflow: scroll;
}

.cuadro2{
    width: 500px;
    height: 20px ;
    border: black solid 2px;
    padding: 70px;
    background-color: rgba(214, 90, 90, 0.5);    
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: relative;
    top: 20px;
    right: -400px;
    overflow: scroll;
}

.cuadro3{
    width: 500px;
    height: 20px ;
    border: black solid 2px;
    padding: 70px;
    background-color: rgba(214, 90, 90, 0.5);    
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 100px;
    overflow: scroll;
}

.transicion {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
  }

  .transicion2 {
    width: 80px;
    height: 60px;
    background: red;
    transition: height 2s;
  }

  aside{
      animation-name: miAnimacion;
      animation-duration: 200ms;
      animation-delay: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: reverse; 
  }

  @keyframes miAnimacion{
      0%{
          transform: scale(.96,.50); 
      }
      50%{
          transform: rotateZ(2deg);
      }
      100%{
          transform: translate(-6px,6px);
          filter: contrast(100%);
      }
  }